body {
    margin: 0;
}

.content {
    width: 960px;
    padding: 5px 0;
}

a {
    color: #1b6cff;
    text-decoration: none;
}

.top {
    background-color: #f7f7f7
}

.bar {
    background-color: #329a2a;
    color: white;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.v-middle{
    display: inline-block;
    vertical-align: middle;
}

.logo {
    font-size: 48px;
    color: #329a2a;
    font-family: simhei, sans-serif;
}

.error {
    background-color: #ff4400;
    color: white;
    line-height: 30px;
    width: 100%;
}

.form-box input[type=text],
.form-box input[type=password],
.form-box button,
.form-box input[type=email],
.form-box input[type=tel]{
    display: block;
    font-size: 24px;
    margin: 15px auto;
    box-sizing: border-box;
    width: 100%;
}
.form-box{
    border: 1px solid #329a2a;
    border-top-width: 3px;
}

.form-box button{
    color: white;
    background-color: #4999dd;
    border: none;
    padding: 5px;
    letter-spacing: 5px;
    cursor: pointer;
}

.btn{
    display: inline-block;
    vertical-align: middle;
    border: none;
    font-size: 16px;
    line-height: 1.25;
}

.normal-btn, .alert-btn{
    color: white;
    background-color: #4999dd;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.alert-btn{
    background-color: #ff414e;
}



#menu {
    height: auto;
    width:170px;
    color:white;
    background-color: #4999dd;
    float:left;
}

#menu >div{
    background-color: #3879d9;
    padding: 10px 0;
}

#menu >ul{
    border: 1px solid #4999dd;
}

#menu li{
    padding: 8px 12px;
}

#menu li:hover{
    background-color: white;
}

#menu a{
    color:white;
}

#menu li:hover a{
    color: #3570cd;
}

#menu ul ul li{
    padding-left: 36px;
}

#data-list {
    height: 500px;
    width: 780px;
    margin-left: 10px;
    float:left;
}

.product-item{
    float:left;
    padding: 5px 1px 5px;
    margin: 0 0 20px 2px;
    border: 1px solid white;
}

.product-item:hover{
    border-color: #329a2a;
}
#phone_image:hover{
    cursor: pointer;
}
.clearfix{
    overflow: auto;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table{
    border-spacing: 0px;
}

th,td{
    padding: 6px;
}

th{
    font-weight: normal;
    text-align: left;
    background-color: #329a2a;
    color:white;
}

tr:nth-child(odd){
    background-color: #ebebeb;
}

tr:nth-child(even){
    background-color: #f7f7f7;
}

tr:hover{
    background-color: #ffd890;
}

.highlight{
    background-color: #ffd890 !important;
}

#search > *{
    border: 2px solid #329a2a;
    outline: none;
    font-size: 16px;
    font-family: serif;
}

#search input{
    width: 300px;
    padding: 4px 6px;
    border-right-width: 0;
}

#search button{
    background-color: #329a2a;
    color: white;
    padding: 4px 20px;
    cursor: pointer;
}

#suggestion{
    position: absolute;
    width: 313px;
    border:1px solid #dbdbdb;
    border-top-width: 0;
    background-color: white;
}

#suggestion li{
    padding: 4px 7px;
}

#suggestion li:hover{
    background-color: #d1ffbe;
}
.pd_pic{
    width: 400px;
    height: 400px;
    margin: auto;
    float: left;
}
.pd_phone_img{
    width: 220px;
    margin: auto;
}
.pd_detail{
    width: 518px;
    height: 400px;
    float: left;
}
.pd_detail ul{
    padding: 10px;
    background-color: #FFF2E8;
    height: 30px;
}
.pd_detail ul li{
    margin-bottom: 5px;
}
.pd_price_p{
    display: inline;
    float: left;
    width: 60px;
    color: #6c6c6c;
}
.pd_price_pn{
    position: static;
    display: inline;
    float: left;
    padding: 0;
    margin-right: 5px;
    vertical-align: baseline;
    font-size: 26px;
    font-weight: 700;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    color: #F40;
}
.pd_amount{
    margin: 10px auto;
}
.pd_amount span{
    padding-left: 10px;
    float: left;
    margin-right: 5px;
    width: 55px;
    color: #6C6C6C;
}
.pd_amount input{
    width: 20px;

}
.pd_text{
    width: 443px;
    float: left;
}
.pd_buy{
    margin: 10px auto;
    float: left;
}
.a_center{
    width: 600px;
    margin: auto;
}
.pd_summit{
    width: 518px;
    padding: 10px 0;
}



